<a href="https://colab.research.google.com/github/karelyrodri/Machine-Learning-CS5262-50/blob/main/CS5262_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit Risk

## Background 
The data used consists of a financial information regarding loans and credit 

After data clean up, there is 15,787 records and 12 features that will be used

Numeric Columns:
1.   Loan Amount
2.   Credit Score
3.   Annual Income 
4.   Monthly Debt 
5.   Years of Credit History
6.   Credit Card Balance
7.   Credit Card Limit 
8.   Interest Rate

Categorical Columns:
1.   Loan Term Length - [1 year, 3 year, 5 year, 7 year, 10 year, 15 year, 30 year]
2.   Years in Current Job - [1 Year or Less, 2 - 4 years, 5 - 7 years,  8 - 9 years, 10+ years]
3.   Home Ownership - [Rent, Home Mortgage, Home Owner]
4.   Loan Purpose - [Home Improvements, Business Loan, Car Loan, Home Loan,
 Medical Bills, Educational Expenses]

## Project Description

This project will focus on assessing loan/credit risk. 

This is the probability an individal will be unable to repay their debt obligations. The goal is to predict whether there is or is not credit risk given the information supplied in each record.

0 - Not a Credit Risk

1 - Is a Credit Risk

## Performance Metric
*   Precision =  True Positives/(True Positives + False Positives)
*   Recall =  True Positives/(True Positives + False Negatives)
*   F1 Score = 2 x ((Precision x Recall)/(Precision + Recall))

## Load Data
**Python imports**

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

**Read google spreadsheet as a csv**

In [9]:
data = pd.read_csv("https://docs.google.com/spreadsheets/d/1AvPiqVtKBoKFiX4h3uGFbWBty7ZhNt4FmWU6jrXhb8U/export?format=csv&grid=")
display(data)
data.info()

,Loan_Amount,Term,Interest_Rate,Credit_Score,Years_in_Current_Job,Home_Ownership,Annual_Income,Purpose,Monthly_Debt,Years_of_Credit_History,Credit_Cards_Balance,Credit_Cards_Limit,Credit_Risk
0,6966,1 year,8.010,673.0,1 year or Less,Home Mortgage,54736.0,Home Improvements,839.28,16.4,2942,3881,1
1,9848,3 year,5.570,NaN,5 - 7 years,Rent,NaN,Home Loan,605.65,18.8,6957,8568,1
2,5878,1 year,5.570,743.0,1 year or Less,Home Mortgage,107767.0,Home Improvements,1420.73,24.6,35963,89459,0
3,99999999,3 year,6.435,724.0,2 - 4 years,Rent,27462.0,Home Loan,338.69,10.8,11773,15369,1
4,1010,1 year,6.435,745.0,1 year or Less,Home Mortgage,75713.0,Home Improvements,1242.95,18.0,769,17889,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21336,188256,30 year,4.295,741.0,2 - 4 years,Home Mortgage,136904.0,Home Loan,1996.51,16.4,17931,23532,0
21337,4542,1 year,7.825,722.0,1 year or Less,Rent,33125.0,Home Improvements,665.27,11.3,11325,20972,0
21338,15730,7 year,4.295,725.0,10+ years,Home Mortgage,60952.0,Home Improvements,1056.51,18.1,9589,13660,0
21339,14727,3 year,5.370,745.0,5 - 7 years,Home Mortgage,78544.0,Educational Expenses,988.35,13.0,17083,31991,0
21340,177552,30 year,2.410,748.0,1 year or Less,Home Mortgage,84949.0,Home Loan,842.41,16.0,5903,22194,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21341 entries, 0 to 21340
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Loan_Amount              21341 non-null  int64
 1   Term                     21341 non-null  object
 2   Interest_Rate            21341 non-null  float64
 3   Credit_Score             18168 non-null  float64
 4   Years_in_Current_Job     20649 non-null  object
 5   Home_Ownership           21341 non-null  object
 6   Annual_Income            18168 non-null  float64
 7   Purpose                  21341 non-null  object
 8   Monthly_Debt             21341 non-null  float64
 9   Years_of_Credit_History  21341 non-null  float64
 10  Credit_Cards_Balance     21341 non-null  int64
 11  Credit_Cards_Limit       21341 non-null  int64
 12  Credit_Risk              21341 non-null  int64
dtypes: float64(5), int64(4), object(4)
memory usage: 2.1+ MB

## Clean Data
Remove data that will screw the results or is NAN or empty.

In [10]:
data.isna().sum()

Loan_Amount                   0
Term                          0
Interest_Rate                 0
Credit_Score               3173
Years_in_Current_Job        692
Home_Ownership                0
Annual_Income              3173
Purpose                       0
Monthly_Debt                  0
Years_of_Credit_History       0
Credit_Cards_Balance          0
Credit_Cards_Limit            0
Credit_Risk                   0
dtype: int64

In [12]:
data = data.dropna()
data = data[data.Loan_Amount != 99999999]
data = data[data.Years_in_Current_Job != ""]
print(data.shape, "\n")

print(data.isna().sum())

(15787, 13)

Loan_Amount                0
Term                       0
Interest_Rate              0
Credit_Score               0
Years_in_Current_Job       0
Home_Ownership             0
Annual_Income              0
Purpose                    0
Monthly_Debt               0
Years_of_Credit_History    0
Credit_Cards_Balance       0
Credit_Cards_Limit         0
Credit_Risk                0
dtype: int64